.idea/
venv
__pycache__
node_modules/
/dbs_tester.egg-info/
/logs/
!logs/.gitkeep
/media/*
!/media/.gitkeep
/private/*
!/private/.gitkeep
*.DS_Store
*.pyc
*.pyo
*.log
*.mwb.bak
.env
*.xd
~*.docx
docker-compose.yml
/tmp/
/apps/web/static/
!/apps/web/static/favicon.ico
/static
requirements.txt
