{% extends '_layout/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
	<div class="jumbotron">
		<h1>{% translate "Test your assigment" %}</h1>
		<p class="lead">
			{% blocktrans %}
				This simple web application helps you find out if yours assigment fits at least the minimal requirements
				such as: availability or content-type. Please, keep in mind, that final evaluation will be much more
				sophisticated and tested with larger scenario suite.
				If you pass all tests successfully it doesn't mean you will not lose any points.
			{% endblocktrans %}
		</p>
		<a class="btn btn-lg btn-primary" href="{% url 'task-management' %}" role="button">
			<i class="bi bi-plus-lg"></i>
			{% translate "New test" %}
		</a>
	</div>

	<div class="row">

		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-6">
					<div class="card mb-4">
						<div class="card-header">
							{% trans "Performed tests" %}
						</div>
						<div class="card-body text-center">
							<span class="fs-1">{{ total_tests }}</span>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card mb-4">
						<div class="card-header">
							{% trans "Jobs in queue" %}
						</div>
						<div class="card-body text-center">
							<span class="fs-1">{{ jobs_in_queue }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="card mb-4">
						<div class="card-header">
							{% trans "Top users" %}
						</div>
						<div class="card-body">
							<ol>
								{% for user in top_users %}
									<li>{{ user.user__username }} ({{ user.total }})</li>
								{% endfor %}
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="card mb-4">
				<div class="card-header">
					{% trans "Test scenarious by status" %}
				</div>
				<div class="card-body text-center">
					<embed type="image/svg+xml" src="{% autoescape off %}{{ task_record_status }}{% endautoescape %}" />
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-4">
				<div class="card-header">
					{% trans "Tests per day" %}
				</div>
				<div class="card-body text-center">
					<embed type="image/svg+xml" src="{% autoescape off %}{{ tasks_by_day }}{% endautoescape %}" />
				</div>
			</div>
		</div>
	</div>
{% endblock %}
